@{
    ViewBag.Title = "Trash";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Trash</h2>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            @Html.Partial("MessageListMenu", "Contact")
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Çöp Kutusu</h3>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
